<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"></script>
    <!-- <link rel="stylesheet" href="{% static 'assets/css/login.css' %}"> -->
    <link rel="stylesheet" href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css%22%3E' %}">
    
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'assets/images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/versions.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

    <!-- Modernizer for Portfolio -->
    <script src="{% static 'assets/js/modernizer.js' %}"></script>
    
    <title>{% block titulo%}{% endblock %}</title>

</head>



{% block contenido %} {% endblock %}

{% block nosotros %} {% endblock %}

{% block contenido_contactenos%} {% endblock %}

                    
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/funciones.js' %}"></script>
    <script src="{% static 'assets/js/all.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>

  <!-- ALL JS FILES -->
  <script src="{% static 'assets/js/all.js' %}"></script>
  <!-- ALL PLUGINS -->
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <script src="{% static 'assets/js/timeline.min.js' %}"></script>
  <script>
      timeline(document.querySelectorAll('.timeline'), {
          forceVerticalMode: 700,
          mode: 'horizontal',
          verticalStartPosition: 'left',
          visibleItems: 4
      });
  </script>
</body>
</html>

